@import('./reset.css')
body
	font-size 16Px
.pc
	@media(min-width 768){
		left 50%
		right auto 
		max-width 750px
		transform translateX(-50%)
	}
.banner
	img
		display block
		width 100%
.header
	position absolute
	top 0
	left 0
	right 0
	display flex
	z-index 10
	.notice
		display block
		width 112px
		img
			width 41px

